
<center>
    <h1><u>Perform the required CRUD Operation</u></h3><br>
    <h3>@Html.ActionLink("Add Data","Create")</h3><br>
    <h3>@Html.ActionLink("Retrieve Data","Retrieve")</h3><br>
    <h3>@Html.ActionLink("Update Data","Updatedetails")</h3><br>
    <h3>@Html.ActionLink("Delete Data","Delete")</h3><br>
</center>
